header{
	background:#00ffff ;
	padding: 20px 0;
}

.caixa{ 
	position: relative;
	width:940px;
	margin: 0 auto;
}


nav{
	position: absolute;
	top: 80px;
	right: 0;
}
nav li{
	display: inline;
	margin: 0 0 0 15px;

}
nav a{
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;

}

nav a:hover{
	color:blue;
	text-decoration: underline;
}

.produtos {
	width:1200px;
	margin: 0 auto;
	padding: 50px 0;
	

}
.produtos li{
	display: inline-block;
	text-align: center;
	width: 20%;
	vertical-align: top;
	margin: 0 5.5px;
	padding: 30px 20px;
	box-sizing: border-box;
	border-color:#000000 ;
	border-width:2px ;
	border-style:solid ;
	border-radius: 10px;

}

.produtos li:hover{
 	border-color: green;

}
.produtos li:hover h2{
	font-size: 34px;
}

.produtos li:active{

	border-color: yellow;
}
.produtos h2{
	font-size: 32px;
	font-weight: bold;
	margin: 10px 0 0 ;
}
.detalhes0{
	font-size: 18px;
}
.detalhes1 {
	font-size: 21px;
	font-weight: bold;
	margin: 10px 0 0 ;
}

footer{
	text-align: center;
	background: url("rodape1.jpg");
	padding: 40px 0;

}
.copyright{

	color: #ffffff;
	font-size: 13px;
	margin: 20px 0;
}